 *{
                margin:0px;
             }
                body{
                    background: rgb(223,213,211);

                }
            .contain{
                margin:0 auto;
                margin-top:10%;
                width:400px;
                padding:10px;
                height:400px;
                background: #fff;
                box-shadow: 5px 5px 5px #ccc;
                border:1px solid #ccc;
            }
            h1{
                text-align: center;
            }
            form{
                width:360px;
                height:180px;
                margin-top:70px;
            }

            li{ 
                list-style:none; 
                float:left;
                height:50px;
                line-height: 40px;
                width:100; 
                
            }
            li span{
                padding-left: 30px;
            }
            .user{
                margin-left: -40px;
                padding-left: 0;
            }
            .submit{
                width:80px;
                height:30px;
                border-radius: 5px;
                box-shadow: 2px 2px 2px #ccc;
                margin-top:32px;
                margin-left: 150px;
            }